.addUser {
  margin: 2rem;
  text-align: center;
  font-size: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  font-size: 1.6rem;
  width: 70%;
  margin: 0.5rem;
}

.btn {
  cursor: pointer;
  width: 120px;
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  color: white;
  background: #1abc9c;
  font-size: 1.6rem;
  border-radius: 25px;
  display: block;

  &:hover {
    background: #148f77;
  }
}
