.user {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.display {
  @media screen and (max-width: 768px) {
    width: 200px;
  }
}

.name {
  overflow-wrap: break-word;
  font-size: 2rem;
}

.mail {
  word-wrap: break-word;
  font-size: 1.6rem;
}

.edit {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    width: 200px;
  }
}
.input {
  font-size: 1.6rem;
  width: 70%;
  margin: 0.5rem;

  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.btn {
  font-size: 1.2rem;
  cursor: pointer;
  width: 80px;
  margin-top: 0.4rem;
  padding: 0.6rem;
  border: none;
  color: white;
  background: #1abc9c;

  border-radius: 25px;
  display: block;
  &:hover {
    background: #148f77;
  }
}
