.App {
  height: 100vh;
  width: 100%;

  @media screen and (min-width: 768px) {
  }
}

.background {
  background: linear-gradient(to bottom, #ff6b6b, #556270) center center / cover
    fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
